// App Brand

#brandLogo {
  // background-color: burlywood;
  text-align: center;
  img {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
}

#brandLogoSmall {
  // background-color: burlywood;
  padding: 0;
  img {
    width: 65px;
    margin: auto;
    box-sizing: border-box;
    display: block;
  }
}

#brandRow {
  // background-color: burlywood;
  padding: 20px 0px;
}
#brandRowSmall {
  background-color: burlywood;
  padding: 5px 0px;
}

#brandTitle {
  padding-top: 5px;
  text-align: center;
  h1 {
    font-size: 200%;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: 150%;
    margin: 0;
    padding: 0;
  }
}

.krem {
  background-color: burlywood;
}
// Login Box
#loginWrapper {
  margin: 0;
  background-color: dimgrey;
  min-height: 300px;
  margin-top: 70px;
  border-radius: 15px;
  form {
    margin: 10px 20px;
  }
}
.boxTitle {
  background-color: black;
  color: burlywood;
  text-align: center;
  padding: 10px 0px;
}
#loginLogo {
  margin: 10px 0px;
  img {
    width: 50px;
    margin: auto;
    display: block;
  }
}
// Main Container
.wh90 {
  min-height: 70vh;
}

// AppFooter
.footer {
  background-color: black;
  font-size: 10pt;
  font-style: italic;
  color: yellow;
  margin: 0;
  padding: 0.5rem;
  bottom: 0;
}
