#brandLogo {
  text-align: center;
}

#brandLogo img {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#brandLogoSmall {
  padding: 0;
}

#brandLogoSmall img {
  width: 65px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

#brandRow {
  padding: 20px 0px;
}

#brandRowSmall {
  background-color: burlywood;
  padding: 5px 0px;
}

#brandTitle {
  padding-top: 5px;
  text-align: center;
}

#brandTitle h1 {
  font-size: 200%;
  margin: 0;
  padding: 0;
}

#brandTitle h2 {
  font-size: 150%;
  margin: 0;
  padding: 0;
}

.krem {
  background-color: burlywood;
}

#loginWrapper {
  margin: 0;
  background-color: dimgrey;
  min-height: 300px;
  margin-top: 70px;
  border-radius: 15px;
}

#loginWrapper form {
  margin: 10px 20px;
}

.boxTitle {
  background-color: black;
  color: burlywood;
  text-align: center;
  padding: 10px 0px;
}

#loginLogo {
  margin: 10px 0px;
}

#loginLogo img {
  width: 50px;
  margin: auto;
  display: block;
}

.wh90 {
  min-height: 70vh;
}

.footer {
  background-color: black;
  font-size: 10pt;
  font-style: italic;
  color: yellow;
  margin: 0;
  padding: 0.5rem;
  bottom: 0;
}
/*# sourceMappingURL=siputana.css.map */